@using Microsoft.AspNetCore.Identity;
@using FactorioWebInterface.Data;
@inject UserManager<ApplicationUser> userManger;

@{
    var user = await userManger.GetUserAsync(User);
}

<nav class="navbar is-fixed-top has-shadow" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" asp-page="/Index"><img src="~/favicon.ico" /></a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarContent">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarContent" class="navbar-menu">

            @{
                var page = ViewContext.RouteData.Values["page"].ToString().ToLowerInvariant();
            }

            <div class="navbar-start">
                @if (user != null)
                {
                    <a class="navbar-item @(page == "/admin/servers" ? "has-text-info" : "")" asp-page="/Admin/Servers">Servers</a>
                    <a class="navbar-item @(page == "/admin/bans" ? "has-text-info" : "")" asp-page="/Admin/Bans">Bans</a>
                    <a class="navbar-item @(page == "/admin/admins" ? "has-text-info" : "")" asp-page="/Admin/Admins">Admins</a>
                    <a class="navbar-item @(page == "/admin/scenariodata" ? "has-text-info" : "")" asp-page="/Admin/ScenarioData">Scenario Data</a>
                }
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        @{if (user == null)
                            {
                                <a class="navbar-item @(page == "/admin/signin" ? "has-text-info" : "")" asp-page="/Admin/SignIn" title="Sign In">Sign In</a>
                            }
                            else
                            {
                                <a class="navbar-item @(page == "/admin/account" ? "has-text-info" : "")" asp-page="/Admin/Account" title="Account">@user.UserName</a>
                                <a class="navbar-item @(page == "/admin/signout" ? "has-text-info" : "")" asp-page="/Admin/SignOut" title="Sign out">Sign out</a>
                            }
                        }
                    </div>
                </div>
            </div>

        </div>
    </div>
</nav>

<script>
    const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

    // Check if there are any navbar burgers
    if ($navbarBurgers.length > 0) {

        // Add a click event on each of them
        $navbarBurgers.forEach(el => {
            el.addEventListener('click', () => {

                // Get the target from the "data-target" attribute
                const target = el.dataset.target;
                const $target = document.getElementById(target);

                // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                el.classList.toggle('is-active');
                $target.classList.toggle('is-active');

            });
        });
    }
</script>  