@page
@model FactorioWebInterface.Pages.Admin.BansModel
@{
    ViewData["Title"] = "Bans";
}

<div class="container-fluid">
    <div class="container">
        <h2>Bans</h2>
        <p>Bans that are added or removed from this page will be synced with all servers immediately.</p>
        <p>All bans issued in game or at the server console with /ban or /unban with be synced with all servers immediately and automatically have the admin and date time added.</p>
        <p>If a ban is performed on a player that is already banned, the new ban will overwrite the old ban.</p>
    </div>

    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <form method="post">
                        <h4>Add Ban</h4>
                        <hr />
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Input.Username"></label>
                            <input asp-for="Input.Username" class="form-control" />
                            <span asp-validation-for="Input.Username" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.Reason"></label>
                            <input asp-for="Input.Reason" class="form-control" />
                            <span asp-validation-for="Input.Reason" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.Admin"></label>
                            <input asp-for="Input.Admin" class="form-control" />
                            <span asp-validation-for="Input.Admin" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.DateTime"></label>
                            <input asp-for="Input.DateTime" class="form-control" />
                            <span asp-validation-for="Input.DateTime" class="text-danger"></span>
                        </div>
                        <button type="submit" asp-page-handler="AddBan" class="btn btn-default">Confirm Ban</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h4>Ban List</h4>

            <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>Reason</th>
                            <th>Admin</th>
                            <th>DateTime</th>
                            <th>Remove</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var b in Model.Bans)
                        {
                            <tr>
                                <td>@b.Username</td>
                                <td>@b.Reason</td>
                                <td>@b.Admin</td>
                                <td>@b.DateTime.ToString("yyyy/MM/dd HH:mm:ss")</td>
                                <td>
                                    <form method="post">
                                        <input hidden name="username" value="@b.Username" />
                                        <input hidden name="reason" value="@b.Reason" />
                                        <button type="submit" asp-page-handler="RemoveBan" class="btn btn-danger">Remove</button>
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
