@page
@model FactorioWebInterface.Pages.Admin.BansModel
@{
    ViewData["Title"] = "Bans";
}

<div class="container-fluid">
    <div class="container">
        <h2>Bans</h2>
        <p>Bans that are added or removed from this page will be synced with all servers immediately.</p>
        <p>All bans issued in game or at the server console with /ban or /unban with be synced with all servers immediately and automatically have the admin and date time added.</p>
        <p>If a ban is performed on a player that is already banned, the new ban will overwrite the old ban.</p>
        <p>Click on a row to have the values filled into the form.</p>
    </div>

    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <form id="addBanForm" class="form-horizontal">
                        <h4>Add Ban</h4>
                        <hr />
                        <div class="form-group">
                            <label for="usernameInput" class="control-label col-sm-2">Username:</label>
                            <div class="col-sm-10">
                                <input id="usernameInput" type="text" class="form-control" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="reasonInput" class="control-label col-sm-2">Reason:</label>
                            <div class="col-sm-10">
                                <textarea id="reasonInput" class="form-control" required></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="adminInput" class="control-label col-sm-2">Admin:</label>
                            <div class="col-sm-10">
                                <input id="adminInput" type="text" class="form-control" required value="@Model.Input.Admin" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for=" dateInput" class="control-label col-sm-2">Date:</label>
                            <div class="col-sm-10">
                                <input id="dateInput" type="date" class="form-control" required value="@Model.Input.Date" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for=" timeInput" class="control-label col-sm-2">Time:</label>
                            <div class="col-sm-10">
                                <input id="timeInput" type="time" class="form-control" required  step="1" value="@Model.Input.Time" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="synchronizeWithServersCheckbox" class="control-label col-sm-2">Synchronize with servers:</label>
                            <div class="col-sm-10">
                                <input id="synchronizeWithServersCheckbox" type="checkbox" checked />
                            </div>
                        </div>
                        <button type="submit" class="btn btn-default">Confirm Ban</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h4><span>Ban List</span><span id="banCount" style="margin-left:1rem"></span></h4>

            <div style="height:900px; overflow:auto;">
                <div class="table-responsive">
                    <table id="bansTable" class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Username</th>
                                <th>Reason</th>
                                <th>Admin</th>
                                <th>DateTime</th>
                                <th>Remove</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var b in Model.Bans)
                            {
                                <tr>
                                    <td>@b.Username</td>
                                    <td>@b.Reason</td>
                                    <td>@b.Admin</td>
                                    <td>@b.DateTime.ToString("yyyy-MM-dd HH:mm:ss")</td>
                                    <td>
                                        <button class="btn btn-danger">Remove</button>
                                    </td>
                                </tr>
                            }
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>

    @section Scripts{
        <environment include="Development">
            <script type="text/javascript" src="~/js/bans.js" asp-append-version="true"></script>
        </environment>
        <environment exclude="Development">
            <script type="text/javascript" src="~/js/bans.js"></script>
        </environment>
    }

</div>
