@page "{id:int?}"
@model FactorioWebInterface.Pages.Admin.ServersModel

@using FactorioWebInterface.Models

@{
    ViewData["Title"] = "Servers";
}

@Html.AntiForgeryToken()
@section css{
    <environment include="Development">
        <link href="/css/servers.css" rel="stylesheet" asp-append-version="true">
    </environment>
    <environment exclude="Development">
        <link href="/css/servers.min.css" rel="stylesheet">
    </environment>
}

<div style="padding: 0rem 1rem;">
    <div class="column">
        <h2 class="title is-2">Servers</h2>
        <h3 id="serverName" class="title is-3"></h3>
    </div>
    <div class="columns">

        <div class="column is-6">

            <section style="padding: 1rem 0rem;">
                <div>
                    <input id="serverIdInput" class="input-zone-input" type="text" value=@Model.Id readonly hidden />

                    <div class="control has-icons-left" style="display:inline;">
                        <div class="select">
                            <select id="serverSelect">
                                @{
                                    for (int i = 1; i <= FactorioServerData.serverCount; i++)
                                    {
                                        if (i == Model.Id)
                                        {
                                            <option selected>@i</option>
                                        }
                                        else
                                        {
                                            <option>@i</option>
                                        }
                                    }
                                }
                            </select>
                        </div>
                        <div class="icon is-small is-left has-text-black">
                            <i class="fas fa-server"></i>
                        </div>
                    </div>

                    <button id="resumeButton" class="button is-success">
                        <span class="icon"><i class="fas fa-play"></i></span>
                        <span>Resume</span>
                    </button>
                    <button id="loadButton" class="button is-success">
                        <span class="icon"><i class="fas fa-play"></i></span>
                        <span> Load</span>
                    </button>
                    <button id="startScenarioButton" class="button is-success">
                        <span class="icon"><i class="fas fa-play"></i></span>
                        <span>Start Scenario</span>
                    </button>
                    <button id="saveButton" class="button is-success">
                        <span class="icon"><i class="fas fa-save"></i></span>
                        <span>Save</span>
                    </button>
                    <button id="updateButton" class="button is-danger">
                        <span class="icon"><i class="fas fa-download"></i></span>
                        <span>Update</span>
                    </button>
                    <button id="stopButton" class="button is-danger">
                        <span class="icon"><i class="fas fa-stop"></i></span>
                        <span>Stop</span>
                    </button>
                    <button id="forceStopButton" class="button is-danger">
                        <span class="icon"><i class="fas fa-bomb"></i></span>
                        <span>Force Stop</span>
                    </button>
                    <p>
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Status:</label>
                            </div>
                            <div class="field-label is-normal">
                                <label id="statusText" class="label"></label>
                            </div>
                            <div class="field-body">
                                <button id="getStatusButton" class="button is-info">
                                    <span class="icon"><i class="fas fa-info-circle"></i></span>
                                    <span>Get Status</span>
                                </button>
                            </div>
                        </div>
                    </p>
                </div>

                <div class="box">
                    <div id="divMessages" class="messages">
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal" style="flex-grow: 0;">
                            <label id="lblMessage" for="tbMessage">Message:</label>
                        </div>
                        <div class=" field-body">
                            <div class="field is-grouped">
                                <div class="control is-expanded">
                                    <input id="tbMessage" class="input" type="text" />
                                </div>
                                <div class="control">
                                    <button id="btnSend" class="button">Send</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </section>

            <section>

                <div class="box">
                    <h3 class="title is-3">Server Settings</h3>
                    <hr />

                    <div class="field is-horizontal">
                        <div class="field-label">
                            <label for="configNameInput" class="label">Name:</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control is-expanded">
                                    <input id="configNameInput" class="input" type="text" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="field is-horizontal">
                        <div class="field-label">
                            <label for="configDescriptionInput" class="label">Description:</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control is-expanded">
                                    <input id="configDescriptionInput" class="input" type="text" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="field is-horizontal">
                        <div class="field-label">
                            <label for="configTagsInput" class="label">Tags:</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control is-expanded">
                                    <ol id="configTagsInput" class=""></ol>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="field is-horizontal">
                        <div class="field-label">
                            <label for="configMaxPlayersInput" class="label">Max Players (blank for unlimited):</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <input id="configMaxPlayersInput" class="" type="number" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="field is-horizontal">
                        <div class="field-label">
                            <label for="configPasswordInput" class="label">Password (blank for no password):</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control is-expanded">
                                    <input id="configPasswordInput" class="input" type="text" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="field is-horizontal">
                        <div class="field-label">
                            <label for="configPauseInput" class="label">Auto Pause when no players online:</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <input id="configPauseInput" class="checkbox" type="checkbox" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="field is-horizontal">
                        <div class="field-label">
                            <label for="configAdminInput" class="label">Admins (blank for default admins):</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control is-expanded">
                                    <textarea id="configAdminInput" class="textarea"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="field is-horizontal">
                        <div class="field-label">
                            <label for="configAutoSaveIntervalInput" class="label">Auto save Interval (min 1 minute):</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <input id="configAutoSaveIntervalInput" type="number" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="field is-horizontal">
                        <div class="field-label">
                            <label for="configAutoSaveSlotsInput" class="label">Auto save slots (0 for no auto saves):</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <input id="configAutoSaveSlotsInput" type="number" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="field is-horizontal">
                        <div class="field-label">
                            <label for="configPublicVisibleInput" class="label">Public Visible:</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <input id="configPublicVisibleInput" class="checkbox" type="checkbox" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="field is-horizontal">
                        <div class="field-label">
                            <!-- Left empty for spacing -->
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <button id="configSaveButton" class="button is-link">Save Changes</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="box">
                    <h3 class="title is-3">Server Extra Settings</h3>
                    <hr />

                    <div class="field is-horizontal">
                        <div class="field-label">
                            <label for="configSyncBans" class="label">Sync Bans:</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <input id="configSyncBans" type="checkbox" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="field is-horizontal">
                        <div class="field-label">
                            <label for="configBuildBansFromDb" class="label">Overwrite server-banlist.json from database at start:</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <input id="configBuildBansFromDb" type="checkbox" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="field is-horizontal">
                        <div class="field-label">
                            <label for="configSetDiscordChannelName" class="label">Set Discord channel name on start and stop:</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <input id="configSetDiscordChannelName" type="checkbox" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="field is-horizontal">
                        <div class="field-label">
                            <!-- Left empty for spacing -->
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <button id="configExtraSaveButton" class="button is-link">Save Changes</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </section>

        </div>

        <div class="column is-6">

            <section>

                <div class="field is-grouped">
                    <div class="control">
                        <input id="fileUploadInput" type="file" multiple style="display:none" />
                        <button id="fileUploadButton" class="button is-link">
                            <span class="icon"><i class="fas fa-upload"></i></span>
                            <span>Upload Saves</span>
                        </button>
                    </div>
                    <div class="control">
                        <button id="fileDeleteButton" class="button is-danger">
                            <span class="icon"><i class="fas fa-trash"></i></span>
                            <span>Delete Saves</span>
                        </button>
                    </div>
                    <div class="control">
                        <span id="fileProgressContiner" hidden>
                            Uploading<progress id="fileProgress" class="progress is-info" max="1"></progress>
                        </span>
                    </div>
                </div>

                <div class="field is-grouped">
                    <div class="control">
                        <button id="fileMoveButton" class="button is-link">
                            <span class="icon"><i class="fas fa-share-square"></i></span>
                            <span>Move Saves</span>
                        </button>
                    </div>
                    <div class="control">
                        <button id="fileCopyButton" class="button is-link">
                            <span class="icon"><i class="fas fa-clone"></i></span>
                            <span>Copy Saves</span>
                        </button>
                    </div>
                    <div class="control">
                        <div class=" field-label is-normal">
                            <label class="label">Destination</label>
                        </div>
                    </div>
                    <div class="control">
                        <div class="select">
                            <select id="destinationSelect">
                                <option value="@Constants.GlobalSavesDirectoryName">Global</option>
                                @{
                                    for (int i = 1; i <= FactorioServerData.serverCount; i++)
                                    {
                                        var path = System.IO.Path.Combine(i.ToString(), Constants.LocalSavesDirectoryName);
                                        <option value="@path">Local @i</option>
                                    }
                                }
                                <option value="@Constants.PublicStartSavesDirectoryName">Public Start</option>
                                <option value="@Constants.PublicFinalSavesDirectoryName">Public Final</option>
                                <option value="@Constants.PublicOldSavesDirectoryName">Public Old</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="field is-grouped">
                    <div class="control">
                        <button id="saveRenameButton" class="button is-link">
                            <span class="icon"><i class="fas fa-edit"></i></span>
                            <span>Rename Saves</span>
                        </button>
                    </div>
                    <div class="control">
                        <button id="saveDeflateButton" class="button is-link">
                            <span class="icon"><i class="fas fa-compress-arrows-alt"></i></span>
                            <span>Deflate Saves</span>
                        </button>
                    </div>
                    <div class="control">
                        <div class="field-label is-normal">
                            <label class="label">New Name:</label>
                        </div>
                    </div>
                    <div class="control">
                        <input id="fileRenameInput" class="input" type="text" />
                    </div>
                    <div class="control">
                        <span id="deflateProgress" hidden>
                            Deflating<progress class="progress is-info" max="100"></progress>
                        </span>
                    </div>
                </div>

            </section>

            <section style="padding: 2rem 0rem;">

                @await Html.PartialAsync("_FileTablePartial", ServersModel.tempSaves)
                @await Html.PartialAsync("_FileTablePartial", ServersModel.localSaves)
                @await Html.PartialAsync("_FileTablePartial", ServersModel.globalSaves)

                <h3 class="title is-3">Scenarios</h3>
                <div class="table-responsive">
                    <table id="scenarioTable" class="table is-bordered is-striped is-hoverable is-fullwidth">
                        <thead>
                            <tr>
                                <th><input type="checkbox" /> Select</th>
                                <th>Name</th>
                                <th>Created Time</th>
                                <th>Modified Time</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>

            </section>

            <section>

                <h3 class="title is-3">Logs</h3>
                <div class="table-responsive">
                    <table id="logsFileTable" class="table is-bordered is-striped is-hoverable is-fullwidth">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Created Time</th>
                                <th>Modified Time</th>
                                <th>Size</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>

            </section>

        </div>

        @section Scripts{
            <environment include="Development">
                <script type="text/javascript" src="~/js/servers.js" asp-append-version="true"></script>
            </environment>
            <environment exclude="Development">
                <script type="text/javascript" src="~/js/servers.js"></script>
            </environment>
        }
    </div>
</div>
