@page "{id:int?}"
@model FactorioWebInterface.Pages.Admin.ServersModel

@using FactorioWebInterface.Models

@{
    ViewData["Title"] = "Servers";
}

@Html.AntiForgeryToken()
@section css{
    <environment include="Development">
        <link href="/css/servers.css" rel="stylesheet">
    </environment>
    <environment exclude="Development">
        <link href="/css/servers.min.css" rel="stylesheet" asp-append-version="true">
    </environment>
}

<div class="container-fluid">
    <div class="row">
        <h2>Servers</h2>
    </div>
    <div class="row">

        <div class="col-lg-6">

            <div class="input-zone">
                <input id="serverIdInput" class="input-zone-input" type="text" value=@Model.Id readonly hidden />

                @*<div class="btn-group">*@
                <div class="row">
                    <div class="dropdown col-md-2">
                        <button class="btn btn-primary dropdown-toggle " type="button" data-toggle="dropdown">Server @Model.Id <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            @{
                                for (int i = 1; i <= 6; i++)
                                {
                                    <li><a href="/Admin/Servers/@i">@i</a></li>
                                }
                            }
                        </ul>
                    </div>

                    <button id="resumeButton" class="btn btn-success col-md-2"><span class="glyphicon glyphicon-play"></span> Resume</button>
                    <button id="loadButton" class="btn btn-success col-md-2"><span class="glyphicon glyphicon-play"></span> Load</button>
                    <button id="stopButton" class="btn btn-danger col-md-2"><span class="glyphicon glyphicon-stop"></span> Stop</button>
                    <button id="forceStopButton" class="btn btn-danger col-md-2"><span class="glyphicon glyphicon-alert"></span> Force Stop</button>
                    <button id="getStatusButton" class="btn btn-info col-md-2"><span class="glyphicon glyphicon-info-sign"></span> Get Status</button>
                    <input id="statusText" class="col-md-2" type="text" readonly />
                </div>

            </div>

            <div id="divMessages" class="messages">
            </div>
            <div class="input-zone">
                <label id="lblMessage" for="tbMessage">Message:</label>
                <input id="tbMessage" class="input-zone-input" type="text" />
                <button id="btnSend">Send</button>
            </div>

        </div>

        <div class="col-lg-6">

            <div class="row">
                <input id="fileUploadInput" type="file" multiple style="display:none" />
                <button id="fileUploadButton" class="btn btn-primary">Upload Files</button>
                <button id="fileDeleteButton" class="btn btn-danger">Delete Files</button>
                <progress id="fileProgress" hidden max="1"></progress>
            </div>

            <div class="row">
                <button id="fileMoveButton" class="btn btn-primary">Move Files</button>
                <button id="fileCopyButton" class="btn btn-primary">Copy Files</button>
                <label> Destination</label>
                <select id="destinationSelect">
                    <option value="@Constants.GlobalSavesDirectoryName">Global</option>
                    @{
                        for (int i = 1; i <= FactorioServerData.serverCount; i++)
                        {
                            var path = System.IO.Path.Combine(i.ToString(), Constants.LocalSavesDirectoryName);
                            <option value="@path">Local @i</option>
                        }
                    }
                </select>
            </div>

            <div class="row">
                <button id="fileRenameButton" class="btn btn-primary">Rename File</button>
                <label>New Name:</label>
                <input id="fileRenameInput" type="text" class="input-zone-input" />
            </div>

            @await Html.PartialAsync("_FileTablePartial", ServersModel.tempSaves)
            @await Html.PartialAsync("_FileTablePartial", ServersModel.localSaves)
            @await Html.PartialAsync("_FileTablePartial", ServersModel.globalSaves)

        </div>

        <div class="col-lg-6">
            <form class="form form-border">
                <h2 class="form-center">Server Settings</h2>

                <label for="configNameInput">Name:</label>
                <input id="configNameInput" type="text" />

                <label for="configDescriptionInput">description:</label>
                <input id="configDescriptionInput" type="text" />

                <label for="configTagsInput">Tags:</label>
                <ol id="ConfigTagsInput" class="form-input">
                    <li><input type="text" /></li>
                    <li><input type="text" /></li>
                    <li><input type="text" /></li>
                    <li><input type="text" /></li>
                </ol>

                <label for="configMaxPlayersInput">Max Players:</label>
                <input id="configMaxPlayersInput" type="number" />

                <label for="configPublicInput">Public:</label>
                <input id="configPublicInput" type="checkbox" />

                <label for="configLanInput">Lan:</label>
                <input id="configLanInput" type="checkbox" />

                <label for="configRequireUserVerificationInput">Require User Verification:</label>
                <input id="configRequireUserVerificationInput" type="checkbox" />
            </form>
        </div>

        @section Scripts{
            <script type="text/javascript" src="~/js/servers.js"></script>
        }
    </div>
</div>
