<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FactorioWebInterface</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <link rel="stylesheet" href="~/lib/bulma/dist/css/bulma.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css"
              asp-fallback-href="~/lib/bulma/dist/css/bulma.min.css" />
        <link rel="stylesheet" href="~/css/site.min.css" />
    </environment>
</head>
<body class="has-navbar-fixed-top">
    <nav class="navbar is-fixed-top has-shadow" role="navigation" aria-label="main navigation">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item" asp-page="/Index"><img src="~/favicon.ico" /></a>

                <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarContent">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="navbarContent" class="navbar-menu">

                @{
                    var page = ViewContext.RouteData.Values["page"].ToString().ToLowerInvariant();
                }

                <div class="navbar-start">
                    <a class="navbar-item @(page == "/index" ? "has-text-info" : "")" asp-page="/Index">Home</a>
                    <a class="navbar-item @(page == "/saves" ? "has-text-info" : "")" asp-page="/Saves">Saves</a>
                </div>

                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons">
                            <a class="button is-primary" asp-page="/Admin/SignIn">Admin Sign In</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <script>
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

        // Check if there are any navbar burgers
        if ($navbarBurgers.length > 0) {

            // Add a click event on each of them
            $navbarBurgers.forEach(el => {
                el.addEventListener('click', () => {

                    // Get the target from the "data-target" attribute
                    const target = el.dataset.target;
                    const $target = document.getElementById(target);

                    // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                    el.classList.toggle('is-active');
                    $target.classList.toggle('is-active');

                });
            });
        }
    </script>

    @RenderBody()

    @RenderSection("Scripts", required: false)
</body>
</html>
